/*

Home

*/



.home{
  background-color: #f6f9fc;
  color: #000000;
  border-top: 1px solid #9E9E9E;
  padding: 0px;
  
}

.page-heading{
  width: 100%;
}
.rss-subscribe{
  width: 100%;
}
.post-list ul{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%; 
  overflow: auto;
  white-space: nowrap; 
}


/*-----Bigger screens-----*/
@media screen and (min-width: 800px){
  .post-list li{
    width: 30%;
    display: inline-block;
  }
}



