
/*Base css



    font-family: 'Inconsolata', monospace;

    font-family: 'Oxygen', sans-serif;

    font-family: 'Abril Fatface', cursive;




*/

*{
    font-family: 'Oxygen', sans-serif;
    

    transition-duration        : 0.2s;
    -moz-transition-duration   : 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration     : 0.2s;

    text-rendering             : optimizeLegibility;
    -webkit-font-smoothing     : antialiased;
    -moz-osx-font-smoothing    : grayscale;
}


html{
    font-family: 'Questrial', sans-serif;
    /*background-color:#0c101c;*/
    background-color: #f7f8ff;
}
body{
    color: inherit;
    /*background-image: url("/assets/img/background_02.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    */
    background-color: inherit;
    
}

img {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    margin-bottom: 1em;
}
a{
color: #0e23e2f8;

}
a:hover{
    color: #09079bf8;
}

.site-header a.site-title{
    color: #3b4abe;
}

.home h1.page-heading{
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
}


.home{
    background-color: #ffffff;
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.home ul.post-list{
    border-bottom: solid 1px;
}

.home li{
    border-bottom: 1px solid;
    padding: 0.5em;
    border-left: 1px solid;
}
.home li:hover{
    margin-left: 0.5em;
}



/*Section display 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.display-class-1{
    text-align: left;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 5px; 
    padding-left: 50px;
    padding-right: 50px;
    border-left: 0px solid ;
    border-bottom: 0px solid ;
    border-right: 0px solid ;
    border-top: 0px solid ;
    
}
.display-class-1-inner{
    border-left: 1px solid ;
    border-bottom:1px solid ;
    border-right: 0px solid ;
    border-top: 0px solid ;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px; 
    margin-bottom: 1%;
}


.display-class-1-inner h1.page-heading{
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
}

.display-class-1-inner li{
    border-left: 1px solid ;
    border-bottom: 0px solid ;
    border-right: 0px solid ;
    border-top: 0px solid ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin-bottom: 1%;
    padding: 3%;
    list-style: none;
    margin-left: -2%;
}

.display-class-1-inner li:hover{
    border-right: 1px solid;
    border-top-right-radius: 0em;
    border-bottom-left-radius: 0em; 
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    margin-left: -1%; 
}


.display-class-1-inner li img{
    width: 100%;
    height: 30%;
}


.display-class-1-inner img{
    width: 100%;
    border-radius: 0px;
}



/*small screens*/
@media screen and (max-width: 600px){
    .display-class-1{
        padding: 2px;
        margin-bottom: 1px;
        
    }
    .display-class-1-inner{
        padding: 5px;
    }
    .display-class-1-inner li{
        margin-left: -6.2%;
    }
}
/*big screens*/
@media screen and (min-width: 1100px){
    .display-class-1{
        width: 100%;
        padding-top: 0px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 10px;
        margin: 0%;
    }
    .display-class-1-inner{
        padding-top: 5px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
    }
}
